body{
	background-image: url(https://cdn.discordapp.com/attachments/606220567942660274/630458838146875392/imagendefondo.jpg);
	

}

 
 .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.iconoinicio{
	color: #FAFAFAFA
	

}


